

.background{
  height: 2000px;
  width: 100vw;
  z-index: 1;
  background-color: #ad0000;
  
}
.background.big{
  height: 2000px;
  width: 100vw;
  z-index: 1;
  background-color: white;
  
}



.human{
  background-image: url("body.png");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  border: 0px;
  height: 100vh;
  width: 600px;
  left: 50%;
  top: -30px;
  z-index: 3;
  transform: translateX(-50%);
  

}
.symbol {
    position: absolute;
    font-size: 50px;
    opacity: 0.8;
    color: white;
    pointer-events: none;
    transition: transform 3s ease-out, opacity 3s ease-out;
    z-index: 2;
}
.symbol.big {
    position: absolute;
    font-size: 50px;
    opacity: 0.8;
    color: #ad0000;
    pointer-events: none;
    transition: transform 3s ease-out, opacity 3s ease-out;
    z-index: 2;
}

.left{
  background-image: url("left.png");
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  border: 0px;
  height: 887.9px;
  width: 700px;
  left: 0px;
  top: -30px;
  z-index: 2;
  animation: inhal 6s infinite;
  
}
@keyframes inhal{
  0%{transform: scaleX(1.0) scaleY(1.0);}
  70%{transform: scaleX(1.3) scaleY(1.2);}
  90%{transform: scaleX(1.0) scaleY(1.0);}
  100%{transform: scaleX(1.0) scaleY(1.0);}
}


.right{
  background-image: url("right.png");
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  border: 0px;
  height: 887.9px;
  width: 700px;
  right: 0px;
  top: -30px;
  z-index: 2;
  animation: inhal 6s infinite;

  
}

height: 1366px;
  width: 1042px;




