.div1{
  border:0px, solid red;
  background-color: orangered;
  height: 2000px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-image: url("stars.gif")
}

.sky{
  border:0px, solid red;
  background-color: orangered;
  height: 1600px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background: linear-gradient( orangered, transparent);
}


.trunk{
  background-color: rosybrown;
  background: linear-gradient(45deg, green, rosybrown);
  position: fixed;
  z-index: 150;
  height:100%;
  width:130px;
  left:30px;
}

.trunk0{
  background-color: darkslategray;
  background: linear-gradient(45deg, black, rosybrown);
  position: fixed;
  z-index: 151;
  height:100%;
  width:130px;
  left:30px;
  opacity: 0.8;

}

.trunk1{
  background-color: rosybrown;
  background: linear-gradient(55deg, green, rosybrown);
  position: fixed;
  z-index:99;
  height:100%;
  width:130px;
  left:7%;
}
.trunk11{
  background-color: rosybrown;
  background: linear-gradient(55deg, black, rosybrown);
  position: fixed;
  z-index:99;
  height:100%;
  width:130px;
  left:7%;
  opacity: 0.5;
}

.trunk2{
  background-color: rosybrown;
  background: linear-gradient(66deg, green, rosybrown);
  position: fixed;
  z-index:98;
  height:100%;
  width:106px;
  left:12%;
}
.trunk21{
  background-color: rosybrown;
  background: linear-gradient(66deg, black, rosybrown);
  position: fixed;
  z-index:98;
  height:100%;
  width:106px;
  left:12%;
  opacity: 0.3;
}

.trunk3{
  background-color: rosybrown;
  background: linear-gradient(77deg, green, rosybrown);
  position: fixed;
  z-index:97;
  height:100%;
  width:87px;
  left:16%;
}
.trunk4{
  background-color: rosybrown;
  background: linear-gradient(88deg, green, rosybrown);
  position: fixed;
  z-index:96;
  height:100%;
  width:60px;
  left:20%;
}



.sun{
  background-color: aliceblue;
  background: radial-gradient(circle, royalblue 10%, gray 50%, transparent 70%);
  position:fixed;
  z-index: 20;
  height: 500px;
  width: 500px;
  top:10px;
  left:700px;
  border-radius:50%;

}



}
.cloud1{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom left, rosybrown 30%, royalblue 55%, lightgoldenrodyellow 60%, transparent 75%);
  position: absolute;
  z-index: 51;
  height: 100px;
  width: 80px;
  top:120px;
  left:470px;
  margin-left: 3%;
  padding-left: 4%;
  border-radius: 100%;
  opacity: 0.6;
  rotate: -10deg;

}

.cloud2{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom left, rosybrown 30%, royalblue 55%, lightgoldenrodyellow 60%, transparent 75%);
  position: absolute;
  z-index: 51;
  height: 130px;
  width: 100px;
  top:180px;
  left:530px;
  margin-left: 3%;
  padding-left: 4%;
  border-radius: 100%;
  rotate: 20%;
  opacity: 0.6;

}

.cloud3{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , rosybrown 30%, royalblue 50%, lightgoldenrodyellow 55%, transparent 70%);
  position: absolute;
  z-index: 48;
  height: 200px;
  width: 280px;
  top:20px;
  left: 160px;
  margin-left: 3%;
  padding-left: 5%;
  border-radius: 120%;
  opacity: 0.6;
  rotate: -20deg;

}
.cloud4{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , rosybrown 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 53;
  height: 200px;
  width: 200px;
  top:80px;
  left: 300px;
  margin-left: 3%;
  padding-left: 6%;
  border-radius: 120%;
  opacity: 0.7;
  rotate: 10deg;

}

.cloud5{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , rosybrown 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 55;
  height: 200px;
  width: 290px;
  top:160px;
  left: 200px;
  margin-left: 3%;
  padding-left: 6%;
  border-radius: 120%;
  opacity: 0.8;
  rotate: 30deg;

}
.cloud6{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , rosybrown 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 53;
  height: 160px;
  width: 200px;
  top:180px;
  left: 360px;
  margin-left: 3%;
  padding-left: 6%;
  border-radius: 120%;
  opacity: 0.8;
  rotate: 10deg;

}
.cloud7{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , transparent 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 56;
  height: 300px;
  width: 350px;
  top:170px;
  left: 60px;
  margin-left: 3%;
  padding-left: 6%;
  border-radius: 120%;
  opacity: 0.9;
  rotate: 5deg;

}

.cloud8{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , transparent 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 57;
  height: 200px;
  width: 350px;
  top:260px;
  left: 300px;
  margin-left: 3%;
  padding-left: 6%;
  border-radius: 120%;
  opacity: 0.7;
  rotate: deg;

}

.cloud9{
  border: 0px, solid, ghostwhite;
  background: radial-gradient(ellipse at bottom , transparent 40%, royalblue 50%, lightgoldenrodyellow 60%, transparent 70%);
  position: absolute;
  z-index: 55;
  height: 200px;
  width: 300px;
  top:250px;
  left: 450px;
  margin-left: 3%;
  padding-left: 7%;
  border-radius: 120%;
  opacity: 0.7;
  rotate: deg;

}

.cloud10{
  background-color: rosybrown;
  background: radial-gradient(circle , darkblue 50%, transparent 70%);
  position: absolute;
  z-index: 54;
  height: 300px;
  width: 300px;
  top:200px;
  left:150px;
  border-radius: 100%;
}

.cloud11{
  background-color: rosybrown;
  background: linear-gradient( transparent 0%, darkblue 30%, darkblue 80%, transparent 100%);
  position: absolute;
  z-index: 56;
  height: 200px;
  width: 280px;
  top:300px;
  left:340px;
  margin-left: 3%;
  padding-left: 7%;
  border-radius: 50%;
}

.cloud12{
  background-color: rosybrown;
  background: linear-gradient( transparent 0%, darkblue 30%, darkblue 80%, transparent 100%);
  position: absolute;
  z-index: 50;
  height: 200px;
  width: 280px;
  top:300px;
  left:450px;
  margin-left: 3%;
  padding-left: 7%;
  border-radius: 50%;
}
.cloud13{
  background-color: rosybrown;
  background: linear-gradient( transparent 0%, rosybrown 20%, darkblue 40%, lightgoldenrodyellow 60%, royalblue 70%, rosybrown 80% , transparent 100%);
  position: absolute;
  z-index: 59;
  height: 100px;
  width: 100%;
  top:380px;
  left:100px;
  margin-left: 3%;
  padding-left: 7%;
  opacity: 0.95;
}
.cloud14{
  background-color: darkblue;
  position: absolute;
  z-index: 59;
  height: 30px;
  width: 100%;
  top:430px;
  left:100px;
  margin-left: 3%;
  padding-left: 7%;
  opacity: 0.4;

}
.cloud15{
  background-color: slategray;
  background: linear-gradient(  30%, orangered 50%);
  position: absolute;
  z-index: 58;
  height: 30px;
  width: 100%;
  top:450px;
  left:100px;
  margin-left: 3%;
  padding-left: 7%;
  opacity: 1;
  background-image: url("stars.gif")

}
.cloud16{
  background: orangered;
  background-color: orangered;
  position: absolute;
  z-index: 50;
  height: 120px;
  width: 120px;
  top:140px;
  left:370px;
  padding-left: 7%;
  border-radius: 100%;

}

.cat{
  background: transparent;
  background-image: url("cat.png");
  background-size: cover;
  height:300px;
  width: 300px;
  z-index: 30;
  position: fixed;
  top:180px;
  left: 450px;
  transform: rotate(-100deg);
  
}


.cat1{
  background: transparent;
  background-image: url("cat1.png");
  background-size: cover;
  height:200px;
  width: 200px;
  z-index: 110;
  position: absolute;
  top:1800px;
  left:20%;
  margin-left:-140px;


  transform: rotate(deg);
}

.cat2{
  background: transparent;
  background-image: url("cat2.png");
  background-size: cover;
  height:300px;
  width: 400px;
  z-index: 125;
  position: absolute;
  top:97%;
  left:800px;
  margin-top:1150px;
  transform: rotate(deg);
}



.planet{
  background: radial-gradient(circle, rosybrown 30%, green 60%, transparent 70%);
  background-color: transparent;
  z-index: 131;
  height: 700px;
  width: 700px;
  top: 1600px;
  left:70%;
  border-radius: 50%;
  position: absolute;
}

.blockpage{
  background: orangered;
  background-color: rosybrown;
  z-index: 110;
  position: absolute;
  height: 300px;
  width: 100%;
  top:2000px;

}

.suncover11{
  background-color: transparent;
  background-size: cover;
  position:absolute;
  z-index: 25;
  height: 400px;
  width: 400px;
  top:1700px;
  left:755px;
  border-radius:50%;

}

.catbowl{
  background: transparent;
  background-image: url("catbowl.png");
  background-size: cover;
  height:130px;
  width: 250px;
  z-index:130;
  position: absolute;
  top:2080px;
  left:550px;
  display: block
  
}


.catspeak{
  background: transparent;
  background-image: url("meow.png");
  background-size: cover;
  height:250px;
  width: 250px;
  z-index:150;
  position: absolute;
  top:1800px;
  left:1000px;
  animation: blink 2s infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }  
  50% { opacity: 0; }       
}






















