p{
  font-style:italic;
  font-size:100px;
  color:seagreen;
  width:80%px;
  hight: 1000px;
  border: 1px, solid red;
  border-radius:20px;
  background-color: orange;
  font-weight: 400;
  height: 1000px;
}
a{font-style:Times;
  font-size:100px;
  color:whitesmoke;
  border:1px solid red:;
  background-color:red ;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  position: fixed;
  top:30px;
  right:30px;
  z-index:200px;
  mix-blend-mode: multiply;
  animation: blink 2s infinite;

}
a:hover{
  color:black;
}
a:first-child{
  color:green;
}
strong {
  display:block;
  color:darkred;
  border: 1px solid black;
  background-color: green;
  margin: 10px auto 10px auto;
  z-index: 10px;
  width: 300px;
}
@keyframes blink{
  0%, 50%, 100% { opacity:1; }
  25%, 75% {opacity:0.1;}
}
#comtainer{
  color:darkseagreen;
  width:50%;
  hight:;
}
