body.change{
  animation: changec 2s infinite;
}
@keyframes changec{
  0%{background-color: white;}
  100%{background-color: white;}
}
.background{
  background-image: url("clouds.gif");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  mix-blend-mode: color-dodge;
  
}

.word {
  background: transparent;
  color: navajowhite;
  font-family: Times New Roman;
  font-size: 30px;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed; 
  transition: 0.7s ;
  z-index: 2;
}
.age{
  background: transparent;
  color: black;
  border-radius: 30px;
  font-family: Times New Roman;
  font-size: 20px;
  top: 350px;
  left: 50%;
  height: 30px;
  width: 300px;
  transform: translateX(-50%);
  position: fixed;
  animation: changeco 1s infinite;
  z-index: 2;
}
@keyframes changeco{
  0%{border: 1px solid white;}
  25%{border: 1px solid black;}
  50%{border: 1px solid skyblue;}
  75%{border: 1px solid navajowhite;}
  100%{border: 1px solid white;}
}

.age:hover{
  background: linear-gradient( to right, skyblue, white);
  animation: changeco 1s infinite;
  transition: 0.4s ;
  text-decoration: none;
}

input::placeholder {
  color: white;
  font-weight: italic;        
  opacity: 1;         
}

.start {
  padding: 8px 14px;
  border: 0px;
  font-size: 40px;
  border-radius: 30%;
  background-color: transparent;
  color: navajowhite;
  font-weight: bold;
  font-family: Times New Roman;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  
  z-index: 2;
}
.start:hover{
  color: white;
  font-size: 42px;
  
}
.start.big {

  background-color: black;
  background-image: url();
  padding: 8px 14px;
  border: 0px;
  font-size: 0px;
  border-radius: 50%;
  font-weight: bold;
  font-family: Times New Roman;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(black,white);
  
  position: fixed;
  
  z-index: 1;
}


.container {
  margin-top: 20px;
  display: grid;
  gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20px);
  z-index: 2;
}

.box {
  width: 20px;
  height: 20px;
  background: #0ff;
  animation: flicker 1.5s infinite alternate;
  z-index: 2;
}

@keyframes flicker {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

.words {
      display: block; /* 重要：容器为块级 */
      width: 100%;
      margin-top: 20px;
    }


.happy {
      font-size: 20px;
      line-height: 1;
    }

.happyb {
      font-size: 25px;
      line-height: 1;
    }
.star {
      position: absolute;
      color: black;
      user-select: none;
    }







