.hand2{
  background-image: url("hand2.png");
  background-color: transparent;
  background-size: cover;
  position: fixed;
  top: -200px;
  left:50%;
  transform: translateX(-50%);
  mix-blend-mode: ;
  width: 1300px;
  height: 1000px;
  opacity: 1;
  filter: blur(1px);
  z-index: 1;

}
.flowers{
  background-image: url("flower.gif");
  background-color: transparent;
  background-size: 100% 100%;
  position: fixed;
  top: 100px;
  left:200px ;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0;
  transition: all 2s ease;


}
.flowers:hover{
  opacity: 1;
}

.flowers2{
  background-image: url("newf.png");
  background-color: transparent;
  background-size: 100% 100%;
  position: fixed;
  top: 50px;
  left:380px ;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0;
  transition:all 2s ease;
}
.flowers2:hover{
  opacity: 1;
}

.cat{
  background-image:url("fatcat1.png");
  background-color: black;
  background-size: 100% 100%;
  position: fixed;
  top: 0px;
  left:0px ;
  width: 100px;
  height: 100px;
  z-index: 2;
  opacity: 1;
  transition:all 2s ease;
}

.cat:hover{
  opacity: 1;
}

