.circle {
  background-color: black;
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
  }

.button{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  height: 80px;
  width: 200px;
  
  z-index: 10;  
  border-radius: 50px;
  font-family: Times New Roman;
  background-color: black;
  border-radius: 0px;
  color: white;
  z-index: 100;
}
