

.middle{
  background-color: transparent;
  border:3px solid black;
  position: fixed;
  top:50%;
  left:50%;
  z-index: 31;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  11background:radial-gradient(circle, transparent 40%, black 50%, transparent 70%);
  animation: turn 2s infinite;
  filter: blur(5px);

}

@keyframes turn{
 0%   { transform:  rotateY(0deg)}
 
 100% { transform:  rotateY(360deg)}
    
}

.middle22{
  background-color: transparent;
  border:2px solid blue;
  position: fixed;
  top: 50%;
  left:50% ;
  z-index:30;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: spin 2s infinite;
  filter: blur(1px);
}
@keyframes spin{
  0%   { transform:  rotateX(0deg)}
 
 100% { transform:  rotateX(360deg)}
}

.light{
  background-color: black;
  border: 1px solid black;
  filter: blur(2px);
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 30;
  background: radial-gradient(circle, black 50%, transparent 60%);
  animation: blur 0.8s infinite;
}
@keyframes blur{
  0%{filter: blur(2px);}
  50%{filter: blur(10px);}
  80%{filter: blur(0px);}
  90%{filter: blur(2px);}
}
.white{
  background-color: white;
  border: 0px solid white;
  filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;
  margin: -10px;
  z-index: 20;
  border-radius: 50%;
  animation: blur 1.5s infinite;
}
.background{
  background-color: black;
  position:absolute ;
  height: 2000px;
  width: 100%;
}


















